// Custom styles.
.post-list{
	margin-top:5px;
	font-size:10px;
	text-align:left;
	padding-left:10px;
}

.post-list-hr{
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
}

.tag-list{
	padding-left:inherit;
}

.tag-list-item{
	margin-left:5px;
}

.tag-list-count{
	margin-left:5px;
}