div
{
    width: 40px;
    height: 44px;
    margin:20px;
    background: url("../images/spritetest.png") no-repeat;
}
.first
{
    background-position: 0,0;
}
.second
{
    background-position: -40px,0; /*原图向左移动40px*/
}
.third
{
    background-position: -80px,0; /*原图向左移动80px*/
}