body
{
    background: #ccd6e1;
    font-family: arial,serif;
    height: 1050px;
}
#game
{
    margin:0 auto;
}

#game h1
{
    margin-bottom: 5px;
    text-shadow: 0 1px 0 #fff;
    text-align:  center;
}
#drawing-pad
{
    border: 10px solid #fffeff;
    background: #f1f3ef;
    box-shadow: 0 3px 5px #333;
    cursor: url("http://100.1.0.178/BkStatic/images/mypen.cur"),auto;
}
#chat-history
{
    list-style: none;
    padding: 0;
}
#chat-history li
{
    border-bottom: 1px dashed rgba(20,20,20,.2);
    margin: 10px 0;
}