body {
    margin: 0 auto;
    text-align: center;
}

#header {
    margin: 0 auto;
    padding: 0;
    width: 800px;
    border: black 1px dashed;
    border-bottom: 0px;
}

#header h1 {
    font-family: cursive;
}

#header span {
    font-family:arial;
}

hr {
    margin-top: 20px;
    border-style: dashed;
    width: 800px;
}

#content {
}

#content table {
    padding: 20px;
    letter-spacing: 5px;
    margin: 0 auto;

}

table.gridtable {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;

}

table.gridtable caption {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: 10px;
}

table.gridtable th {
    border-width: 1px;
    padding: 8px 75px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}


table.gridtable td {
    border-width: 1px;
    padding: 10px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

.tags {
    width: 140px;
}
body>.tags
{
    margin: 0 auto;
    width: 800px;
}
.tags span {
    font-size: 11px;
    color: #6E724E;
    padding: 2px 5px;
    border: 1px solid #D7D999;
    background: #FFFFC6;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}
.tags span:hover, .tags span.selected {
    border: 1px solid #75784C;
    background: #FF7;
    color: #333521;
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100000;
}
#footer1{
    margin-top: 100px;
}
.home
{
    margin-top: 20px;
}
.home a:link
{
    color:#A00000;
}
.home a:visited
{
    color:#A00000;
}
.home a:hover
{
    color: #008000;
}
.visible
{
    visibility: hidden;
}